*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.2)), url(assets/background.jpg);
    background-size: cover;
    background-position: center;
    display: inline-flexbox;
    align-items: center;
    justify-content: center;
}

.logo{
    height: inherit;
    cursor: pointer;
}

.navbar{
    width: 100%;
    height: 80px;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content:center;
}

.header{
    padding: 8%;
    height: inherit;
    width: fit-content;
    display: flex;
    /* position: relative; */
    /* justify-content:space-between; */
}

.schoolname{
    text-align: center;
    display:inline;
    justify-items:center;
    align-items: center;
}

h1{
    font-size:large;
    color: aliceblue;
}

h2{
    font-size: large;
    font-weight: normal;
    color: aliceblue;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    margin: 8px;
    font-weight: bold;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background-color: aqua;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition:0.5s
}

.navbar ul li:hover::after{
    width: 100%;
}

.mainform{
    height: 80%;
    width: 85%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.75),rgba(255, 255, 255, 0.75));
    
}